<div class="wrapper">
  <div class="content-page">
    <header class="header" ng-include="'layout/customer/header.html'"></header>
    <section>
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <h4 class="page-title">Đổi mật khẩu</h4>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <form action="#">
                  <div class="form-group">
                    <label for="fullname">Mật khẩu cũ</label>
                    <input
                      class="form-control"
                      type="password"
                      id="firstName"
                      placeholder="Enter your password"
                      ng-model="request.oldPassword"
                    />
                    <div
                      class="alert alert-light alert-custom"
                      ng-show="showAlertOldPassword"
                      role="alert"
                    >
                      {{alert.oldPassword}}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="fullname">Mật khẩu mới</label>
                    <input
                      class="form-control"
                      type="password"
                      id="lastName"
                      placeholder="Enter new password"
                      ng-model="request.newPassword"
                    />
                    <div
                      class="alert alert-light alert-custom"
                      ng-show="showAlertNewPassword"
                      role="alert"
                    >
                      {{alert.newPassword}}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="emailaddress">Nhập lại mật khẩu mới</label>
                    <input
                      class="form-control"
                      type="password"
                      id="emailAddress"
                      placeholder="Confirm new password"
                      ng-model="request.confirmPassword"
                    />
                    <div
                      class="alert alert-light alert-custom"
                      ng-show="showAlertConfirmPassword"
                      role="alert"
                    >
                      {{alert.confirmPassword}}
                    </div>
                  </div>

                  <div class="form-group mb-0 text-center">
                    <button
                      class="btn btn-primary btn-block"
                      type="submit"
                      ng-click="changePassword($event);"
                    >
                      <i class="mdi mdi-account-circle"></i> Đổi mật khẩu
                    </button>
                  </div>
                  <!-- social-->
                </form>
                <!-- end row -->
              </div>
              <!-- end card-body-->
            </div>
            <!-- end card-->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
    </section>
    <footer class="footer" ng-include="'layout/customer/footer.html'"></footer>
  </div>
</div>
