<div class="wrapper">
  <nav ng-include="'layout/admin/navbar.html'"></nav>
  <div class="content-page">
    <div class="content">
      <header class="header" ng-include="'layout/admin/header.html'"></header>

      <section>
        <div id="chinh" class="container-fluid">
          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <h4 class="page-title">Categories</h4>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row mb-2">
                    <div class="col-lg-9">
                      <form class="form-inline">
                        <div class="form-group mb-2">
                          <label for="inputPassword2" class="sr-only"
                            >Search</label
                          >
                          <input
                            type="search"
                            class="form-control"
                            id="inputPassword2"
                            placeholder="Search..."
                            ng-model="search.name"
                          />
                        </div>
                      </form>
                    </div>
                    <div id="buttonAddCategories" class="col-lg-3">
                      <a href="#admin/categories/add">
                        <button type="button" class="btn btn-success">
                          Thêm Category
                        </button></a
                      >
                    </div>
                    <!-- end col-->
                  </div>

                  <div class="table-responsive">
                    <table class="table table-success table-striped">
                      <thead class="thead-light">
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th style="width: 125px">Function</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="c in listCategories | filter:search">
                          <td>{{c.id}}</td>
                          <td>{{c.name}}</td>
                          <td>
                            <a
                              href="#admin/categories/update/{{c.id}}"
                              class="action-icon"
                            >
                              <i class="mdi mdi-square-edit-outline"></i
                            ></a>
                            <a
                              href="#admin/categories/delete/{{c.id}}"
                              class="action-icon"
                            >
                              <i class="mdi mdi-delete"></i
                            ></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- end card-body-->
              </div>
              <!-- end card-->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </section>
    </div>
    <footer class="footer" ng-include="'layout/admin/footer.html'"></footer>
  </div>
</div>
