<div class="container-fluid">
  <div id="footer1" class="row">
    <div class="col-md-6">Nguyễn Văn Thành_Contacs 0988542315</div>
    <div class="col-md-6">
      <div class="text-md-right footer-links d-none d-md-block">
        <div class="footer_social">
          <a href="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
